
<video id="background-video" autoplay loop muted>
             <source src="https://thumbs.gfycat.com/RemoteImpishBlackbear-mobile.mp4" type="video/mp4">
</video>



    <main class="main_home">

        <section class="card-area-score">

            <!-- Card: City -->
            <section class="card-section">
                <div class="cards">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">

                              <% game = @question.game %>
                              <% questions = game.questions %>
                            <h2 class="card-front__heading">
                                Question n°<%= questions.count - current_user.remaining_questions(game).count + 1%>
                            </h2>
                            <p class="card-front__text-price">
                                Space kiks
                            </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        View Question
                                    </p>
                                </div>
                            </div>

                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media" src="<%= @question.image %>" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                               <%= @question.content %>
                            </h3>
                            <% @proposals.each do |p| %>
                              <%#= link_to "#{p.content}", game_question_answers_path(@question.game, @question, p), class: "inside-page__btn inside-page__btn--city", data: {turbo_method: :post} %>
                              <%= link_to "#{p.content}", game_question_answer_path(@question.game, @question, :proposal_id => p.id), class: "inside-page__btn inside-page__btn--city", data:{correct: p.correct, controller: 'color-answers', action: 'click->color-answers#color'} %>
                            <% end  %>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        <footer class="footer">
            <p class="footer-text">&copy; 2022 Created by Space Kids</p>
          </footer>
    </main>
