
<video id="background-video" autoplay loop muted>
             <source src="https://thumbs.gfycat.com/RemoteImpishBlackbear-mobile.mp4" type="video/mp4">
</video>



<body>
    <main class="main">

        <section class="card-area">

            <!-- Card: City -->
            <section class="card-section">
                <div class="cards">
                    <div class="flip-card">
                        <div class="flip-card__container">
                            <div class="card-front">
                                <div class="card-front__tp card-front__tp--city">

                               <h2 class="card-front__heading">
                                Question
                            </h2>
                            <p class="card-front__text-price">
                                Space kiks
                            </p>
                                </div>

                                <div class="card-front__bt">
                                    <p class="card-front__text-view card-front__text-view--city">
                                        View Question
                                    </p>
                                </div>
                            </div>
                            <div class="card-back">
                                <video class="video__container" autoplay muted loop>
                                    <source class="video__media" src="https://media.istockphoto.com/videos/galactic-voyage-loopable-video-id483640204" type="video/mp4">
                                </video>
                            </div>
                        </div>
                    </div>

                    <div class="inside-page">
                        <div class="inside-page__container">
                            <h3 class="inside-page__heading inside-page__heading--city">
                                Are there different types of black holes ?
                            </h3>
                            <p class="inside-page__text">
                               Question number One
                            </p>
                            <a href="#" class="inside-page__btn inside-page__btn--city">YES</a>
                            <a href="#" class="inside-page__btn inside-page__btn--city">NON</a>
                        </div>
                    </div>
                </div>
            </section>

        </section>
        <footer class="footer">
            <p class="footer-text">&copy; 2022 Created by Space Kids</p>
          </footer>
    </main>
</body>
</html>
