<div style="font-family: 'Space Age', sans-serif;" id="message-<%= message.id %>">
  <small style="font-family: 'Space Age', sans-serif;">
    <strong ><%= message.user.nickname %></strong>
    <i><%= message.created_at.strftime("%a %b %e at %l:%M %p") %></i>
  </small>
  <p><%= message.content %></p>
</div>
