<!-- Background video -->
<video id="background-video" autoplay loop muted>
             <source src="https://thumbs.gfycat.com/RemoteImpishBlackbear-mobile.mp4" type="video/mp4">
</video>

<!-- la gride de trajictoire -->
<section id=timeline>
	<h1>Trajectory of Your Space 🚀Ship🚀</h1>
	<p class="leader">All cards must be the same height and width for space calculations on large screens.</p>
	<div class="demo-card-wrapper">

    <div class="demo-card demo-card--step1">
      <div class="container">
          <div class="card bg-primary">
            <div class="imgBx ">
              <img src="https://www.freeiconspng.com/thumbs/earth-png/planet-earth-png-8.png">
            </div>
            <div class="contentBx ">
              <h2>Level 1</h2>
              <div class="size">
                <h3>Questions:</h3>
                <span>1</span>
                <span>2</span>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <span></span>
              </div>
              <%= link_to "Start Now", question_selector_game_path(@games[0]), data: {turbo_method: :post}, class:"btn" %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step2">
			<div class="container">
          <div class="card bg-success">
            <div class="imgBx">
              <img src="https://upload.wikimedia.org/wikipedia/commons/2/27/Mars_transparent.png">
            </div>
            <div class="contentBx">
              <h2>Level 2</h2>
              <div class="size">
                <h3>Questions:</h3>
                <span>1</span>
                <span>2</span>
                <span>3</span>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <span></span>
                <span></span>
              </div>
              <%= link_to "Start Now", question_selector_game_path(@games[1]), data: {turbo_method: :post}, class:"btn" %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step3">
			<div class="container">
          <div class="card bg-warning">
            <div class="imgBx ">
              <img src="http://wiki.bacterialtakeover.com/images/4/41/Mercury.png">
            </div>
            <div class="contentBx ">
              <h2>Level 3</h2>
              <div class="size">
                <h3>Questions:</h3>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <%= link_to "Start Now", question_selector_game_path(@games[2]), data: {turbo_method: :post}, class:"btn" %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step4">
			<div class="container">
          <div class="card bg-info">
            <div class="imgBx ">
              <img src="https://upload.wikimedia.org/wikipedia/commons/7/70/Lava_planet.png">
            </div>
            <div class="contentBx ">
              <h2>Level 4</h2>
              <div class="size">
                <h3>Questions:</h3>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <%= link_to "Start Now", question_selector_game_path(@games[3]), data: {turbo_method: :post}, class:"btn" %>
            </div>
          </div>
      </div>
		</div>

		<div class="demo-card demo-card--step5">
			<div class="container">
          <div class="card bg-danger">
            <div class="imgBx ">
              <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/6/6f/Saturn-148300.svg/1280px-Saturn-148300.svg.png">
            </div>
            <div class="contentBx ">
              <h2>Level 5</h2>
              <div class="size">
                <h3>Questions:</h3>
                <span>1</span>
                <span>2</span>
                <span>3</span>
                <span>4</span>
                <span>5</span>
                <span>6</span>
                <span>7</span>
              </div>
              <div class="color">
                <h3>Difficulty:</h3>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
                <span></span>
              </div>
              <a href="#">Start Now</a>
            </div>
          </div>
      </div>
		</div>

	</div>
</section>
