.winner-wrap{
  border-radius: 7px;
  max-width: 331px;
  height: 490px;
  /* min-height: 198px; */
  margin: 1% auto 0;
  position: relative;
  padding: 1rem 2rem 6.5rem 2rem;
  font-family: 'Lato', sans-serif;
  text-align: center;
  background-image: url("https://static.mediapart.fr/etmagine/default/files/2017/12/21/gargantua-trou-noir-supermassif-imagine-pour-le-film-interstellar.jpg");
  background-size: cover;
}
.winner-wrap:hover .right-ribbon{
  right:-45px;
  border-left:20px solid #E0B05C;
  transition:all ease .3s;
}
.winner-wrap:hover .left-ribbon{
  left:-45px;
  border-right:20px solid #E0B05C;
  transition:all ease .3s;
}
.winner-wrap:hover .winner-ribbon{
  box-shadow:0 3px 6px 0px rgba(0,0,0,0.2);
  transition:all ease .3s;
}

.medal-box{
  width:60px;
  height:60px;
  color:#ffbd69;
  border-radius:50px;
  line-height:70px;
  font-size:2.3rem;
  margin:.8rem auto 0rem;
}
.winner-wrap h1{
  color:rgba(255, 189, 105, 0.95);
  font-size:1.4rem;
  font-weight:300;
  text-transform:uppercase;
  margin-top:0px;
}
.winner-wrap h2{
  color:#fff;
  font-size:1.2rem;
  font-weight:400;
  text-transform:uppercase;
  margin-bottom:.85rem;
}
.winner-ribbon{
  width:100%;
  height:50px;
  background:#ffbd69;
  text-align:center;
  font-family: 'Bebas Neue', cursive;
  font-size:2.8rem;
  color:#fe346e;
  position:absolute;
  bottom:45px;
  left:0;
  z-index:99;
  box-shadow:0 10px 15px -7px rgba(0,0,0,0.2)
}
.right-ribbon{
  width:0;
  height:0;
  position:absolute;
  right:-35px;
  bottom:30px;
  border-top:24px solid #E0B05C;
  border-bottom:24px solid #E0B05C;
  border-left:10px solid #E0B05C;
  border-right:25px solid transparent;
  transition:all ease .3s;
}
.left-ribbon{
  width:0;
  height:0;
  position:absolute;
  left:-35px;
  bottom:30px;
  border-top:24px solid #E0B05C;
  border-bottom:24px solid #E0B05C;
  border-left:25px solid transparent;
  border-right:10px solid #E0B05C;
  transition:all ease .3s;
}
.team-wrap{
  width:100%;
  margin:2rem auto;
  text-align:center;
  position:relative;
}
.team-wrap.inactive .member-pic{
  animation: fadein .3s ease-in forwards;
}
.team-wrap.active .member-pic:nth-child(1){
  animation: fadeout .3s ease-in forwards;
}
.team-wrap.active .member-pic:nth-child(2){
  animation: fadeout .3s ease-in forwards .1s;
}
.team-wrap.active .member-pic:nth-child(3){
  animation: fadeout .3s ease-in forwards .2s;
}
.team-wrap.active .member-pic:nth-child(4){
  animation: fadeout .3s ease-in forwards .3s;
}
.team-wrap.active .member-pic:nth-child(5){
  animation: fadeout .3s ease-in forwards .4s;
}
.member-pic{
  width:4rem;
  height:4rem;
  display:inline-block;
  margin:auto 1rem;
  border-radius:50rem;
  overflow:hidden;
  opacity:0;
  transform:translateY(-200%);
  transform-origin: 0 400px;
}

.member-pic img{
  width:100%;
  height:100%;
  object-fit:cover;
}

@keyframes fadeout{
  from{
    opacity:0;
    transform:translateY(-200%);
  }
  to{
    opacity:1;
    transform:translateY(0);
  }
}

@keyframes fadein{
  from{
    opacity:1;
    transform:translateY(0);
  }
  to{
    opacity:0;
    transform:translateY(-200%);
  }
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #f4f4f400;
  border: 0px solid var(--bs-border-color);
  border-radius: 2px;
  max-width: 100%;
  height: auto;
}

.btn {
  margin-top: 6px;
  --bs-btn-padding-x: 61px;
  --bs-btn-padding-y: 20px;
  color: #ffffff;
}

.BackBtnList {
  text-align: center;
}

.BigTitleH1 {
  color: #ffffff;
  font-size: 4rem;
  margin-top: 0vh;
  margin-bottom: 0vh;
}

.card-area-score {
  background-color: #b21f6600;
}


.btn-outline-light {
  --bs-btn-hover-color: #ffffff;
  --bs-btn-hover-bg: rgba(255, 190, 105, 0.6);
}


.LEVELEND {
  font-size: 60px;
  font-family: 'Space Age', sans-serif;
  color: #fff;
  margin-bottom: 40px;
  text-align: center;
}
